<div class="container" style="background-color: rgba(59, 79, 73, 0.752); padding-bottom: 20px; border-radius: 10px;">
    <div class="row" style="display: flex; justify-content: center; margin-bottom: 15px;">
        <h2 style="margin-left: 10px; color: white; font-size: 40px; font-weight: bold;">Game Control</h2>
    </div>
    <div class="row">
        <div class="container" style="display: flex; justify-content: space-between; flex-direction: row;">
            <div class="col"></div>
            <div class="col-5">
                <button class="btn btn-success" style="outline: 8px ridge rgb(0, 0, 0);
                border-radius: 2rem;" (click)="onStartGame()">Start the game</button>
            </div>
            <div class="col-5">
                <button class="btn btn-danger" style="outline: 8px ridge rgb(0, 0, 0);
                border-radius: 2rem;" (click)="onStopGame()">Stop the game</button>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>