<div class="container">
  <h3>Assignment Exercise 05</h3>
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Optimize this app by adding a UsersService which manages the active and inactive users.</li>
        <li>Also add a CounterService which counts the number of active->inactive and inactive->active actions.</li>
      </ol>
      <hr>
      <h3>Result Exercise 05</h3>
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <app-active-users></app-active-users>
        <app-inactive-users></app-inactive-users>
      </div>
    </div>
  </div>
</div>