<div class="container">
  <h3>Assignment Exercise 01</h3>
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
        <li>Use external or internal templates and styles!</li>
      </ol>
      <hr>
      <h3>Result Exercise 01</h3>
      <app-warning-alert></app-warning-alert>
      <app-sucess-alert></app-sucess-alert>
    </div>
  </div>
</div>